@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#main {
    height: 100vh;
    width: 100%;
    background-color:black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main h1 {
    text-transform: uppercase;
    font-size: 8rem;
    font-family: "Raleway", sans-serif;
    color: white;

}

#preloader {
    height: 100vh;
    width: 100%;
    position: fixed;
    background-color: white;
    /* z-index: 2; */
}

.loader{
    background: black;
    height: 30%;
    width: 100vh;
    .loader-counter{
      h1{
        position: absolute;
        top: 45%;
        left: 70%;
        font-family: 'Orbitron', sans-serif;
        transform:translate(-50%,-70%);
        color:#000000;
        font-size:12rem;
      }
    }
  }

  .hide{
    /* opacity: 0; */
    /* transform: translateY(-100%); */
    opacity: 0;
    transition: all 0.8s ease;
    transition-delay: 0.7s;
  }